html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  /* margin-top: 10px; */
  /* margin: 5px; */
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  /* height: 100vh; */
}

#inputField{
  display: flex;
  justify-content: center;
}

#infobox{
  border: 2px solid black;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 1em;
  /* visibility: hidden; */
  /* justify-content: center; */
}

#infobox h1{
  font-size: 30px;
}

/* button:hover {
  background-color:#002ead;
  transition: 0.7s;
} */